.online {
  background-color: rgb(8, 245, 79);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.offline {
  background-color: rgb(245, 8, 8);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.friendList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.item {
  width: 300px;
  box-shadow: 1px 2px 2px 1px #00000080;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 5px;
  margin: 0 5px;
}
