.statistics {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.statList {
  height: 75px;
  background-color: #00910c;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
}

.title {
  height: 75px;
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.item {
  flex-grow: 1;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.percentage {
  font-size: 20px;
}
